/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  --red: #ea5353;
  --cyan: #45d3d3;
  --orange: #fcaf4a;
  --blue: #549ef2;
  --very-dark-blue: #4c4e61;
  --grayish-blue: #a3a5ae;
  --very-light-gray: #fafafa;
  --ff-body: "Poppins", sans-serif;
  --fw-extra-light:200;
  --fw-regular:400;
  --fw-semi-bold:600;
  --fz-1: calc(36 / 16 * 1rem);
  --fz-2: calc(24 / 16 * 1rem);
  --fz-3: calc(20 / 16 * 1rem);
  --fz-4: calc(15 / 16 * 1rem);
  --fz-5: calc(13 / 16 * 1rem);
  --s-500: calc(40 / 16 * 1rem);
  --s-300: calc(24 / 16 * 1rem);
  --s-200: calc(16 / 16 * 1rem);
  --s-150: calc(12 / 16 * 1rem);
  --s-100: calc(8 / 16 * 1rem);
  --s-50: calc(4 / 16 * 1rem);
}

*, *::before, *::after {
  box-sizing: inherit;
}

:not(ul, ol, li) {
  margin: 0;
}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  font-size: var(--fz-4);
  background-color: var(--very-light-gray);
}

.attribution {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: var(--very-dark-blue);
}

.attribution a {
  transition: 0.4s;
  color: var(--blue);
}

.attribution a:hover,
.attribution a:visited {
  color: var(--cyan);
  text-decoration: none;
}

main {
  width: inherit;
  height: inherit;
  display: grid;
  place-content: center;
}

/* #endregion Defaults */
/* #region Reusable CSS */
.grid {
  display: grid;
}

/* #endregion Reusable CSS */
/* #region Mobile 375px */
#feature {
  padding: 2rem;
}

.heading__container {
  width: 19.4375rem;
  row-gap: 1rem;
  color: var(--very-dark-blue);
  text-align: center;
}

.heading__title {
  row-gap: 0.0625rem;
  letter-spacing: 0.010625rem;
  font-weight: var(--fw-extra-light);
  font-size: var(--fz-2);
  line-height: auto;
}

.heading__title-tagline {
  font-weight: var(--fw-semi-bold);
}

.heading__description {
  color: var(--grayish-blue);
  font-size: var(--fz-4);
  letter-spacing: 0.00625rem;
  line-height: 1.6666666667em;
}

/* #endregion Mobile 375px */
/* #region Extra Small 320px */
/* #endregion Extra Small 320px */
/* #region Desktop 768px */
/* #endregion Desktop 768px */
