/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  --red: #ea5353;
  --cyan: #45d3d3;
  --orange: #fcaf4a;
  --blue: #549ef2;
  --very-dark-blue: #4c4e61;
  --grayish-blue: #a3a5ae;
  --very-light-gray: #fafafa;
  --ff-body: "Poppins", sans-serif;
  --fw-extra-light:200;
  --fw-regular:400;
  --fw-semi-bold:600;
  --fz-1: calc(36 / 16 * 1rem);
  --fz-2: calc(24 / 16 * 1rem);
  --fz-3: calc(20 / 16 * 1rem);
  --fz-4: calc(15 / 16 * 1rem);
  --fz-5: calc(13 / 16 * 1rem);
}

*, *::before, *::after {
  box-sizing: inherit;
}

:not(ul, ol, li) {
  margin: 0;
}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  font-size: var(--fz-4);
  background-color: var(--very-light-gray);
}

.attribution {
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: var(--very-dark-blue);
}

.attribution a {
  transition: 0.4s;
  color: var(--blue);
}

.attribution a:hover,
.attribution a:visited {
  color: var(--cyan);
  text-decoration: none;
}

main {
  width: inherit;
  height: auto;
  display: grid;
  place-content: center;
}

/* #endregion Defaults */
/* #region Reusable CSS */
.grid {
  display: grid;
}

/* #endregion Reusable CSS */
/* #region Mobile 375px */
h1, h2 {
  color: var(--very-dark-blue);
}

p {
  color: var(--grayish-blue);
}

#feature {
  justify-items: center;
  padding: 5.3125rem 1.25rem;
  row-gap: 4.6875rem;
}

.heading__container {
  width: 19.4375rem;
  row-gap: 1rem;
  text-align: center;
}

.heading__title {
  row-gap: 0.0625rem;
  letter-spacing: 0.010625rem;
  font-weight: var(--fw-extra-light);
  font-size: var(--fz-2);
  line-height: auto;
}

.heading__title-tagline {
  font-weight: var(--fw-semi-bold);
}

.heading__description {
  font-size: var(--fz-4);
  letter-spacing: 0.00625rem;
  line-height: 1.6666666667em;
}

.cards__container {
  row-gap: 1.5625rem;
}

.card {
  width: 19.4375rem;
  height: 13.875rem;
  padding: 1.75rem;
  background-color: white;
  border-radius: 0.25rem 0.25rem 0.5rem 0.5rem;
  box-shadow: 0 0.9375rem 1.875rem -0.6875rem rgba(131, 167, 210, 0.5019607843);
  grid-template-rows: repeat(2, auto) 1fr;
  border-top: 0.221875rem solid;
}

.card__title {
  font-size: var(--fz-3);
  line-height: auto;
}

.card__description {
  font-size: 0.8125rem;
  line-height: 1.7692307692em;
  letter-spacing: 0.005625rem;
}

.card__img {
  width: 3.5625rem;
  height: 3.5625rem;
  place-self: end;
}

.supervisor__card {
  border-top-color: var(--cyan);
}

.team__card {
  border-top-color: var(--red);
}

.karma__card {
  border-top-color: var(--orange);
}

.calculator__card {
  border-top-color: var(--blue);
}

/* #endregion Mobile 375px */
/* #region Extra Small 320px */
@media only screen and (max-width: 23.375em) {
  #feature {
    padding: 5.3125rem 0.625rem;
    row-gap: 2.1875rem;
  }
  .heading__container {
    width: 17.5rem;
  }
  .heading__title {
    font-size: var(--fz-3);
  }
  .heading__description {
    font-size: var(--fz-5);
  }
  .card {
    width: 16.875rem;
    height: 12.625rem;
  }
  .card__img {
    width: 2.9375rem;
    height: 2.9375rem;
  }
}
/* #endregion Extra Small 320px */
/* #region Desktop 1150px */
@media only screen and (min-width: 71.875em) {
  .attribution {
    position: fixed;
  }
  #feature {
    padding: 5rem 2rem;
    row-gap: 4rem;
  }
  .heading__container {
    width: 33.75rem;
  }
  .heading__title {
    row-gap: -0.1875rem;
    letter-spacing: 0.015625rem;
    font-size: var(--fz-1);
  }
  .cards__container {
    gap: 1.875rem;
    grid: "    .    t    .    " "    s    t    c    " "    s    k    c    " "    .    k    .    ";
  }
  .card {
    width: 21.875rem;
    height: 15.625rem;
    padding: 2rem;
    border-top-width: 0.25rem;
    row-gap: 0.375rem;
  }
  .card__img {
    width: initial;
    height: initial;
  }
  .supervisor__card {
    grid-area: s;
  }
  .team__card {
    grid-area: t;
  }
  .karma__card {
    grid-area: k;
  }
  .calculator__card {
    grid-area: c;
  }
}
/* #endregion Desktop 1150px */
