@use 'functions' as *;
@use "sass:math";
@use "sass:map";
@use "sass:list";

/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

  --red: #ea5353;
  --cyan: #45d3d3;
  --orange: #fcaf4a;
  --blue: #549ef2;
  --very-dark-blue: #4c4e61;
  --grayish-blue: #a3a5ae;
  --very-light-gray: #fafafa;

  --ff-body: "Poppins", sans-serif;

  --fw-extra-light:200;
  --fw-regular:400;
  --fw-semi-bold:600;

  --fz-1: calc(36 / 16 * 1rem);
  --fz-2: calc(24 / 16 * 1rem);
  --fz-3: calc(20 / 16 * 1rem);
  --fz-4: calc(15 / 16 * 1rem);
  --fz-5: calc(13 / 16 * 1rem);
}

*,*::before,*::after {box-sizing: inherit;}

:not(ul, ol, li) {margin: 0;}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  font-size: var(--fz-4);
  background-color: var(--very-light-gray);
}

.attribution {
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: rem(11px);
  text-align: center;
  color: var(--very-dark-blue);
}

.attribution a {
  transition: .4s;
  color: var(--blue);
}

.attribution a:hover,
.attribution a:visited {
  color: var(--cyan);
  text-decoration: none;
}

main {
  width: inherit;
  height: auto;
  display: grid;
  place-content: center;
}
/* #endregion Defaults */

/* #region Reusable CSS */
.grid {
  display: grid;
}
/* #endregion Reusable CSS */

/* #region Mobile 375px */
h1, h2 {
  color: var(--very-dark-blue);
}

p {
  color: var(--grayish-blue);
}

#feature {
  justify-items: center;
  padding: rem(85px) rem(20px);
  row-gap: rem(75px);
}

.heading__container {
  width: rem(311px);
  row-gap: rem(16px);
  text-align: center;
}

.heading__title {
  row-gap: rem(1px);
  letter-spacing: rem(0.17px);
  font-weight: var(--fw-extra-light);
  font-size: var(--fz-2);
  line-height: auto;
}

.heading__title-tagline {
  font-weight: var(--fw-semi-bold);
}

.heading__description {
  font-size: var(--fz-4);
  letter-spacing: rem(0.1px);
  line-height: em(25px, 15px);
}

.cards__container {
  row-gap: rem(25px);
}

.card {
  width: rem(311px);
  height: rem(222px);
  padding: rem(28px);
  background-color: white;
  border-radius: rem(8px);
  box-shadow: 0 rem(15px) rem(30px) rem(-11px) #83a7d280;
  grid-template-rows: repeat(2, auto) 1fr;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: '';
  width: 100%;
  height: rem(3.55px);
  position: absolute;
  top: 0;
}

.card__title {
  font-size: var(--fz-3);
  line-height: auto;
}

.card__description {
  font-size: rem(13px);
  line-height: em(23px, 13px);
  letter-spacing: rem(0.09px);
}

.card__img {
  width: rem(57px);
  height: rem(57px);
  place-self: end;
}

.supervisor__card::before {background-color: var(--cyan);}
.team__card::before {background-color: var(--red);}
.karma__card::before {background-color: var(--orange);}
.calculator__card::before {background-color: var(--blue);}
/* #endregion Mobile 375px */

/* #region Extra Small 320px */
@include desktop-media-query(374px) {
  #feature {
    padding: rem(85px) rem(10px);
    row-gap: rem(35px);
  }
  
  .heading__container {
    width: rem(280px);
  }
  
  .heading__title {
    font-size: var(--fz-3);
  }
  
  .heading__description {
    font-size: var(--fz-5);
  }
  
  .card {
    width: rem(270px);
    height: rem(202px);
  }
  
  .card__img {
    width: rem(47px);
    height: rem(47px);
  }
}
/* #endregion Extra Small 320px */

/* #region Desktop 1150px */
@include mobile-media-query(1150px) {
  .attribution {
    position: fixed;
  }

  #feature {
    padding: rem(80px) rem(32px);
    row-gap: rem(64px);
  }

  .heading__container {
    width: rem(540px);
  }

  .heading__title {
    letter-spacing: rem(0.25px);
    font-size: var(--fz-1);
  }

  .heading__title-tagline {
    margin-top: -3px;
  }

  .cards__container {
    gap: rem(30px);
    grid: 
    "    .    t    .    "
    "    s    t    c    "
    "    s    k    c    "
    "    .    k    .    "
    ;
  }

  .card {
    width: rem(350px);
    height: rem(250px);
    padding: rem(32px);
    row-gap: rem(6px);
  }

  .card::before {
    height: rem(4px);
  }
  
  .card__img {
    width: initial;
    height: initial;
  }
  
  .supervisor__card {grid-area: s;}
  .team__card {grid-area: t;}
  .karma__card {grid-area: k;}
  .calculator__card {grid-area: c;}
}
/* #endregion Desktop 1150px */